.background {
    background-color:rgb(209, 172, 223);
    /* background-image: url("aki-nakazawa-qaoHG7MLV-0-unsplash.jpg");
    background-position: top center;
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    mix-blend-mode: multiply; */

    content: ' ';
    display: block; 
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10000;
    background-image: url("aki-nakazawa-qaoHG7MLV-0-unsplash.jpg");
    background-origin: bottom;
    background-size: cover;
    background-position: bottom;
}
body {
    background-color:rgb(230, 228, 255);
    font-family: cursive;
    /* font-family: bradley hand, cursive; */

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

header {
    justify-content: center;
    display: flex;
    font-size: 1.5rem!important;
}

header h1 {
    margin: 0;
}

main {
    background-color:rgba(230, 228, 255, .65);
    display: flex;
    flex-direction: column;
}

.group {
    /* border: 1px solid red; */
    padding: 1em;
}

.group h2 {
    margin: 0;
    /* display: flex; */
    /* border: 1px solid purple; */
}
.group .content {
    /* max-width: 70%; */
}

/* .group:nth-child(odd) .content {
    margin-left: auto;
    padding-left: auto;
} */
/* .group:nth-child(even) h2 {
    justify-content: right;
} */

.suggest::after {
    /* position: relative;
    display: block;
    left: -20%;
    right: 0;
    top: -20px;
    bottom: 10px;
    width: 20%; */
    content:"\2190 What do you suggest we do? ";
    /* border: 1px solid green; */
    font-size: smaller;
}
